nav {
    width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    margin: 0;
}

.product-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 220px;
}

/* Карточка товара */
.product-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.product-image img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-price {
    font-size: 28px;
    color: #cb11ab; /* Фиолетовый акцент */
    font-weight: bold;
}

.product-rating p {
    font-size: 18px;
    color: #cb11ab;
}

.btn-custom {
    background-color: #cb11ab;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #aa0f94;
    text-decoration: none;
}

.product-description {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

.product-category,
.product-manufacturer {
    font-size: 16px;
    line-height: 1.4;
}

.reviews {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.review-item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.review-item:last-child {
    border-bottom: none;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-review-btn {
    background-color: #cb11ab;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-review-btn:hover {
    background-color: #aa0f94;
}