{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}


    <h1>Вход в систему</h1>

    <div id="loginSection">
        <form id="loginForm">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Войти</button>
        </form>
        <a href="/auth/signup">Или зарегистрируйтесь</a>
    </div>

    <div id="userSection" style="display:none;">
        <p id="userInfo"></p>
        <button id="logoutButton">Выйти</button>
    </div>

    <div id="message"></div>

    <script>
        // Функция для проверки статуса аутентификации
        async function checkAuthentication() {
            const response = await fetch('read_current_user', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                const result = await response.json();
                if (result.isAuthenticated) {
                    // Скрываем форму входа и показываем информацию о пользователе
                    document.getElementById('loginSection').style.display = 'none';
                    document.getElementById('userSection').style.display = 'block';
                    let role;
                    if (result.User.is_admin) {
                        role = 'Администратор';
                    } else if (result.User.is_supplier) {
                        role = 'Продавец';
                    } else if (result.User.is_customer) {
                        role = 'Клиент';
                    } else {
                       role = 'Неизвестная роль';
                    }
                    document.getElementById('userInfo').innerText = `Добро пожаловать, ${result.User.username} (${role})`;
                }
            }
        }

        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    username: username,
                    password: password
                })
            });

            const result = await response.json();

            if (response.ok) {
                document.getElementById('message').innerText = 'Успех';
                location.reload();
            } else {
                document.getElementById('message').innerText = result.detail || 'Ошибка входа';
            }
        });

        document.getElementById('logoutButton').addEventListener('click', async function() {
            const response = await fetch('/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            const result = await response.json();

            if (response.ok) {
                location.reload();
            } else {
                document.getElementById('message').innerText = result.detail || 'Ошибка выхода';
            }
        });

        // Проверка статуса аутентификации при загрузке страницы
        checkAuthentication();
    </script>
{% endblock %}