{% extends "base.html" %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/order_page.css">
<div class="order-container">
    <h1 class="order-header">Детали заказа</h1>

    <h2>Заказ #{{ order[0].id }}</h2>
    <div class="order-details">
        <p><strong>Дата заказа:</strong> {{ order[0].order_date.strftime('%Y-%m-%d %H:%M') }}</p>
        <p><strong>Адрес доставки:</strong> {{ order[0].address }}</p>
        <p><strong>Общая сумма:</strong> {{ order[0].total }} ₽</p>
        <p><strong>Статус:</strong> {{ order[0].status }}</p>
    </div>

    {% if check_url %}
    <p>
        <a href="{{ check_url }}" class="btn btn-primary" target="_blank">Скачать чек</a>
    </p>
    {% endif %}

    <h3>Элементы заказа</h3>
    <table class="order-table">
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
                <tr>
                    <td>
                        <a href="/product/{{item.product_id}}">{{ item.product_id }}</a>
                    </td>
                    <td>{{ item.price }} ₽</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.quantity * item.price }} ₽</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/order" class="back-to-orders">Вернуться к заказам</a>
</div>
{% endblock %}
