{% extends "base.html" %}

{% block title %}Заказы{% endblock %}

{% block content %}

<!-- Форма для изменения статуса -->
<form id="statusForm" style="display: none;">
    <div class="form-group">
        <label id="statusLabel">Редактировать статус заказа ID ...</label>
        <select class="form-control" id="newStatusSelect" name="new_status">
            <option value="В обработке">В обработке</option>
            <option value="В доставке">В доставке</option>
            <option value="Доставлен">Доставлен</option>
        </select>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" id="submitBtn">Изменить</button>
    </div>
</form>

<!-- Таблица товаров -->
<table class="table">
    {% if user.is_supplier %}
        <h3> Сборочные задания </h3>
    {% endif %}
    {% if user.is_customer %}
        <h3> Мои заказы </h3>
    {% endif %}
    {% if user.is_admin %}
        <h3> Все заказы </h3>
    {% endif %}
    <thead>
        <tr>
            {% if user.is_supplier %}
            <!-- <th>ID</th> -->
            <th>Order ID</th>
            <th>Артикул</th>
            <th>Кол-во</th>
            <th>Цена</th>
            {% endif %}
            {% if user.is_admin or user.is_customer %}
            <th>Order ID</th>
            {% if user.is_admin %}
            <th>User ID</th>
            <th>Payment ID</th>
            {% endif %}
            <th>Дата заказа</th>
            <th>Адрес доставки</th>
            <th>Сумма</th>
            <th>Статус</th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            {% if user.is_supplier %}
            <!-- <td>{{ order.id }}</td> -->
            <!-- <td>{{ order.order_id }}</td> -->
            <td><a href="/order/{{order.order_id}}">{{ order.order_id }}</a></td>
            <td>{{ order.product_id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            {% endif %}

            {% if user.is_admin or user.is_customer %}
            <!-- <td>{{ order.id }}</td> -->
            <td><a href="/order/{{order.id}}">{{ order.id }}</a></td>
            {% if user.is_admin %}
            <td>{{ order.user_id }}</td>
            <td>{{ order.payment_id }}</td>
            {% endif %}
            <td>{{ order.order_date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.total }}</td>
            <td>{{ order.status }}</td>
            {% endif %}
            {% if user.is_admin %}
            <td>
                <button class="btn btn-warning btn-sm" onclick="editStatus('{{ order.id }}')">Edit</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    let currentOrderId = null;

    function editStatus(orderId) {
        currentOrderId = orderId; // Сохраняем ID текущего заказа
        document.getElementById('statusLabel').innerText = `Редактировать статус заказа ID ${orderId}`;
        document.getElementById('statusForm').style.display = 'block'; // Показываем форму
    }

    document.getElementById('statusForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы

        const newStatus = document.getElementById('newStatusSelect').value; // Получаем новое значение статуса

        // Отправляем запрос на обновление статуса заказа
        fetch(`/order/update/${currentOrderId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ status: newStatus }),
        })
            .then(response => {
                if (response.ok) {

                    location.reload(); // Перезагружаем страницу для обновления данных
                } else {
                    alert('Ошибка при обновлении статуса заказа.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при обновлении статуса заказа.');
            });
    });



    // Вызов функции при необходимости, например, по нажатию кнопки
    
</script>

{% endblock %}