{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/signup.css">
<div class="register-container">
    <h2>Регистрация</h2>
    <form id="registrationForm" class="register-form">
        <div class="form-group">
            <label for="first_name" class="form-label">Имя:</label>
            <input type="text" id="first_name" name="first_name" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="last_name" class="form-label">Фамилия:</label>
            <input type="text" id="last_name" name="last_name" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="username" class="form-label">Имя пользователя:</label>
            <input type="text" id="username" name="username" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Электронная почта:</label>
            <input type="email" id="email" name="email" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" id="password" name="password" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="role" class="form-label">Роль:</label>
            <select id="role" name="role" class="form-input" required>
                <option value="" disabled selected>Выберите роль</option>
                <option value="supplier">Поставщик</option>
                <option value="customer">Клиент</option>
            </select>
        </div>
        <button type="submit" class="btn-register">Зарегистрироваться</button>
    </form>
    <a href="/auth/login" class="back-link">Или войдите</a>
</div>
<div id="message"></div>

<script>
    async function checkAuthentication() {
        const response = await fetch('read_current_user', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        if (response.ok) {
            const result = await response.json();
            if (result.isAuthenticated) {
                document.getElementById('registrationForm').style.display = 'none';
                let role;
                if (result.User.is_admin) {
                    role = 'Администратор';
                } else if (result.User.is_supplier) {
                    role = 'Продавец';
                } else if (result.User.is_customer) {
                    role = 'Клиент';
                } else {
                    role = 'Неизвестная роль';
                }
                document.getElementById('message').innerText = `Добро пожаловать, ${result.User.username} (${role})`;
            }
        }
    }

    document.getElementById('registrationForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());

        data.is_active = false;
        data.is_admin = false;
        data.is_supplier = data.is_supplier === "on";
        data.is_customer = data.is_customer === "on";

        try {
            const response = await fetch('/auth/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            const result = await response.json();

            if (response.ok) {
                document.getElementById('message').innerText = 'Регистрация прошла успешно!';
            } else {
                document.getElementById('message').innerText = `Ошибка: ${result.detail}`;
            }
        } catch (error) {
            document.getElementById('message').innerText = 'Ошибка при регистрации.';
            console.error('Ошибка:', error);
        }
    });

    checkAuthentication();
</script>

{% endblock %}